<h1>Gossip#show_gossip</h1>
<p> 
  <% gossip = Gossip.find(params[:show_gossip]) %>
  <p>Ecrit part : <%= User.find(gossip.user_id).first_name %> </p>
  <br/>
  <p>Titre : <%= gossip.title %> </p>
  <br/>
  <p>Contenu : <%= gossip.content %> </p>
  <br/>
</p>
<p>Find me in app/views/gossip/show_gossip.html.erb</p>
